<div class="form-group group">
  <%= form.check_box :option_allow_spam, class: "form-checkbox" %>
  <%= form.label :option_allow_spam %>
  <p class="form-hint md:inline-block"><%== t(".option_allow_spam_hint_html") %></p>
</div>

<div class="form-group group">
  <%= form.check_box :option_dedup_threads, class: "form-checkbox" %>
  <%= form.label :option_dedup_threads %>
  <p class="form-hint"><%== t(".option_dedup_threads_hint_html") %></p>
</div>

<div class="form-group group">
  <%= form.label :option_sanitize_level %>
  <%= form.select :option_sanitize_level, PagerTree::Integrations::Email::V3::SANITIZE_LEVELS.map{|x| [x.humanize, x]}, {}, class:'form-control' %>
  <p class="form-hint"><%== t(".option_sanitize_level_hint_html") %></p>
</div>
