 <div class="form-group">
  <%= form.label :option_allow_spam %>
  <%= form.check_box :option_allow_spam, class: "form-checkbox" %>
  <p class="form-hint"><%== t(".option_allow_spam_hint_html") %></p>
</div>

 <div class="form-group">
  <%= form.label :option_dedup_threads %>
  <%= form.check_box :option_dedup_threads, class: "form-checkbox" %>
  <p class="form-hint"><%== t(".option_dedup_threads_hint_html") %></p>
</div>
