<div x-data="{option_alert_acknowledged: <%= form.object.option_alert_acknowledged %> }">
  <div class="grid grid-cols-1 gap-4">
    <div class="form-group group">
      <%= form.check_box "option_alert_acknowledged", class: "form-checkbox", "x-model": "option_alert_acknowledged" %>
      <%= form.label "option_alert_acknowledged", class: "inline-block" %>
      <p class="form-hint md:inline-block"><%== t(".option_alert_acknowledged_hint_html") %></p>
    </div>
  </div>

  <div x-show="option_alert_acknowledged">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="form-group group">
        <%= form.label :option_server_url %>
        <%= form.text_field :option_server_url, class: "form-control" %>
        <p class="form-hint"><%== t(".option_server_url_hint_html") %></p>
      </div>

      <div class="form-group group">
        <%= form.label :option_server_username %>
        <%= form.text_field :option_server_username, class: "form-control" %>
        <p class="form-hint"><%== t(".option_server_username_hint_html") %></p>
      </div>

      <div class="form-group group" data-controller="password-visibility">
        <%= form.label :option_server_password %>
        <%= form.password_field :option_server_password, value: form.object.option_server_password, class: "form-control", data: { password_visibility_target: "input"} %>
        <div class="flex justify-between">
          <p class="form-hint"><%== t(".option_server_password_hint_html") %></p>
          <%= render partial: "shared/password_visibility_button" %>
        </div>
      </div>

      <div class="form-group group">
        <%= form.label :option_proxy_url %>
        <%= form.text_field :option_proxy_url, class: "form-control" %>
        <p class="form-hint"><%== t(".option_proxy_url_hint_html") %></p>
      </div>

      <div class="form-group group">
        <%= form.label :option_extra_headers %>
        <%= form.text_field :option_extra_headers, class: "form-control" %>
        <p class="form-hint"><%== t(".option_extra_headers_hint_html") %></p>
      </div>
    </div>
  </div>
</div>