<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div class="form-group md:col-span-2">
    <%= form.label :option_form_title %>
    <%= form.text_field :option_form_title, class: "form-control" %>
    <p class="form-hint"><%== t(".option_form_title_hint_html") %></p>
  </div>

  <div class="form-group md:col-span-2">
    <%= form.label :option_form_header %>
    <%= form.text_field :option_form_header, class: "form-control" %>
    <p class="form-hint"><%== t(".option_form_header_hint_html") %></p>
  </div>

  <div class="form-group md:col-span-2">
    <%= form.label :option_form_instructions %>
    <%= form.text_area :option_form_instructions, class: "form-control" %>
    <p class="form-hint"><%== t(".option_form_instructions_hint_html") %></p>
  </div>

  <div class="form-group">
    <%= form.label :option_form_footer_text %>
    <%= form.text_field :option_form_footer_text, class: "form-control" %>
    <p class="form-hint"><%== t(".option_form_footer_text_hint_html") %></p>
  </div>

  <div class="form-group">
    <%= form.label :option_form_footer_link %>
    <%= form.text_field :option_form_footer_link, class: "form-control" %>
    <p class="form-hint"><%== t(".option_form_footer_link_hint_html") %></p>
  </div>

  <div class="form-group">
    <%= form.label :option_form_logo %>
    <%= form.file_field :option_form_logo, accept: "image/*", class: "file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-gray-50 file:text-gray-700 hover:file:bg-gray-100" %>
    <p class="form-hint"><%== t(".option_form_logo_hint_html") %></p>
  </div>
</div>

<div class="grid grid-cols-4 gap-4">

  <div class="form-group">
    <%= form.check_box :option_form_email_required, class: "form-checkbox mr-1" %>
    <%= form.label :option_form_email_required, class: "inline-block" %>
    <p class="form-hint"><%== t(".option_form_email_required_hint_html") %></p>
  </div>

  <div class="form-group">
    <%= form.check_box :option_form_phone_required, class: "form-checkbox mr-1" %>
    <%= form.label :option_form_phone_required, class: "inline-block" %>
    <p class="form-hint"><%== t(".option_form_phone_required_hint_html") %></p>
  </div>

  <div class="form-group">
    <%= form.check_box :option_form_description_required, class: "form-checkbox mr-1" %>
    <%= form.label :option_form_description_required, class: "inline-block" %>
    <p class="form-hint"><%== t(".option_form_description_required_hint_html") %></p>
  </div>

  <div class="form-group">
    <%= form.check_box :option_form_urgency_required, class: "form-checkbox mr-1" %>
    <%= form.label :option_form_urgency_required, class: "inline-block" %>
    <p class="form-hint"><%== t(".option_form_urgency_required_hint_html") %></p>
  </div>
</div>